<!-- <section class="call-to-action-area section-padding-100 bg-img bg-overlay" style="background-image: url(static/img/bg-img/6.jpg)"> -->
<section class="call-to-action-area section-padding-100 bg-img bg-overlay" style="background-image: url(static/img/bg-img/cbs4.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="call-to-action-content text-center">
          <h6>Місце проведення служінь</h6>
          <h2>Дім мій домом молитви назоветься для усіх народів (Євангелія від Марка 11:17).</h2>
          <a href="#" class="btn crose-btn btn-2">Розклад служінь</a>
        </div>
      </div>
    </div>
  </div>
</section>