<!-- Main Footer Area -->
<div class="main-footer-area">
  <div class="container">
    <div class="row">

      <!-- Single Footer Widget -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-footer-widget mb-70">
          <a href="#" class="footer-logo">
            <img src="static/img/core-img/logo2.png" alt="">
          </a>
          <p>Церква Божого Спасіння</p>
        </div>
      </div>

      <!-- Single Footer Widget -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-footer-widget mb-70">
          <h5 class="widget-title">Бистрі посилання</h5>
          <nav class="footer-menu">
            <ul>
              <li>
                <a href="/">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i> Головна</a>
              </li>
              <li>
                <a href="/about">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i> Про нас</a>
              </li>
              <li>
                <a href="/contact">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i> Контакти</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Single Footer Widget -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-footer-widget mb-70">
          <h5 class="widget-title">Останні новини</h5>

          <!-- Single Latest News -->
          <div class="single-latest-news">
            <a href="#">Polish schools in UK warned</a>
            <p>
              <i class="fa fa-calendar" aria-hidden="true"></i> November 11, 2017</p>
          </div>

          <!-- Single Latest News -->
          <div class="single-latest-news">
            <a href="#">University league tables 2018</a>
            <p>
              <i class="fa fa-calendar" aria-hidden="true"></i> November 11, 2017</p>
          </div>

        </div>
      </div>

      <!-- Single Footer Widget -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-footer-widget mb-70">
          <h5 class="widget-title">Контакти</h5>

          <div class="contact-information">
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i> 40 Baria Sreet, NewYork City, US</p>
            <a href="callto:001-1234-88888">
              <i class="fa fa-phone" aria-hidden="true"></i> 001-1234-88888</a>
            <a href="mailto:info.deercreative@gmail.com">
              <i class="fa fa-envelope" aria-hidden="true"></i> info.deercreative@gmail.com</a>
            <p>
              <i class="fa fa-clock-o" aria-hidden="true"></i> Mon - Fri: 08.00am - 18.00pm</p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<!-- Copwrite Area -->
<div class="copywrite-area">
  <div class="container h-100">
    <div class="row h-100 align-items-center flex-wrap">
      <!-- Copywrite Text -->
      <div class="col-12 col-md-6">
        <div class="copywrite-text">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved <span style="display:none;" >| This template is made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> by
            <a href="https://colorlib.com" target="_blank">Colorlib</a></span>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>

      <!-- Footer Social Icon -->
      <div class="col-12 col-md-6">
        <div class="footer-social-icon">
          <!-- <a href="https://www.facebook.com/cerkvabs/">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</div>
